<section class="categories">
  <div class="container">
    <h2 class="title">Browse Categories</h2>
    <ul class="categories__list">
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img src="../images/art.png" alt="" class="categories__item-img" />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-paint"></use>
          </svg>
        </div>
        <div class="text-container"><h3 class="list__item-title">Art</h3></div>
      </li>
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img
            src="../images/collectibels.png"
            alt=""
            class="categories__item-img"
          />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-swatches"></use>
          </svg>
        </div>
        <div class="text-container">
          <h3 class="list__item-title">Collectibles</h3>
        </div>
      </li>
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img src="../images/music.png" alt="" class="categories__item-img" />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-music-notes"></use>
          </svg>
        </div>
        <div class="text-container">
          <h3 class="list__item-title">Music</h3>
        </div>
      </li>
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img
            src="../images/photography.png"
            alt=""
            class="categories__item-img"
          />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-camera"></use>
          </svg>
        </div>
        <div class="text-container">
          <h3 class="list__item-title">Photography</h3>
        </div>
      </li>
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img src="../images/video.png" alt="" class="categories__item-img" />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-video-camera"></use>
          </svg>
        </div>
        <div class="text-container">
          <h3 class="list__item-title">Video</h3>
        </div>
      </li>
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img
            src="../images/utility.png"
            alt=""
            class="categories__item-img"
          />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-magic-wand"></use>
          </svg>
        </div>
        <div class="text-container">
          <h3 class="list__item-title">Utility</h3>
        </div>
      </li>
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img src="../images/sport.png" alt="" class="categories__item-img" />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-basketball"></use>
          </svg>
        </div>
        <div class="text-container">
          <h3 class="list__item-title">Sport</h3>
        </div>
      </li>
      <li class="categories__list-item">
        <div class="categories__item-wrapper">
          <img
            src="../images/virtual.png"
            alt=""
            class="categories__item-img"
          />
          <svg class="list__item-icon" width="80" height="80">
            <use href="../icons/symbol-defs.svg#icon-planet"></use>
          </svg>
        </div>
        <div class="text-container">
          <h3 class="list__item-title">Virtual World</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
