<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__logo-container">
        <a href="index.html">
          <svg class="header-icon" width="24" height="24">
            <use href="./src/icons/symbol-defs.svg#icon-store-front"></use>
          </svg>
        </a>
        <h2 class="header__logo">NFT Marketplace</h2>
      </div>
      <svg class="open__nav" width="24" height="24">
        <use href="./src/icons/symbol-defs.svg#icon-nav-menu"></use>
      </svg>
    </div>
  </div>
</header>
