<header>
  <div class="container">
    <nav class="header__navigation">
      <a href="index.html" class="header__logo-container">
        <svg class="header-icon" width="24" height="24">
          <use href="../icons/symbol-defs.svg#icon-store-front"></use>
        </svg>
        <p class="header__logo">NFT Marketplace</p>
      </a>

      <div class="navigation__menu">
        <svg class="open__nav" width="24" height="24">
          <use href="../icons/symbol-defs.svg#icon-nav-menu"></use>
        </svg>
      </div>
    </nav>
  </div>
</header>
