<section class="trending">
  <div class="container">
    <h2 class="title">Trending Collection</h2>
    <p class="info">Checkout our weekly updates trending collection</p>
    <div class="trending__collecton">
      <img src="../images/dog.png" alt="" class="trending__collection-img" />
      <img src="../images/cat.png" alt="" class="trending__collection-img" />
      <img src="../images/bear.png" alt="" class="trending__collection-img" />
      <div class="trending__more">1025+</div>
    </div>
    <h3 class="collection__title">DSGN Animals</h3>
    <div class="container__author">
      <img src="../images/fox.png" alt="" />
      <p class="trending__author">MrFox</p>
    </div>
  </div>
</section>
