.creators {
  padding-top: 40px;
  padding-bottom: 40px;
}
.creators__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 19.69rem;
  height: 3.75rem;
  border: 2px solid var(--call-to-action);
  border-radius: 1.25rem;
  background: transparent;
  font-weight: 600;
  color: var(--text);
}
.rocket__icon {
  fill: #a259ff;
}
