@import "tailwindcss";

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 834px;
  --breakpoint-lg: 1280px;
  --font-space: "Space Mono", sans-serif;
  --font-work: "Work Sans", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 30px; 
  width: 100%;

  @media (width >= 834px) {
    max-width: 834px;
    padding-inline: 50px;
  }

  @media (width >= 1280px) {
    max-width: 1280px;
    padding-inline: 50px;
  }
}

.title {
  @apply font-work font-semibold capitalize;
}

.text-xs {
  @apply text-[12px]/[1.1];
}

.text-sm {
  @apply text-[16px]/[1.4];
}

.text-md {
  @apply text-[22px]/[1.4];
}

.text-lg {
  @apply text-[28px]/[1.4];
}

.text-xl {
  @apply text-[38px]/[1.2];
}

.center {
  @apply flex justify-center items-center;
}

:root {
  --background: #2b2b2b;
  --background---secondary: #3b3b3b;
  --caption-label-text: #858584;
  --text: #fff;
  --call-to-action: #a259ff;
  --blue-accent: #377df7;
  --red-accent: #ff7262;

  --font-family: "Space Mono", sans-serif;
  --second-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}